
<!--<div mat-dialog-content class="custom-image-main">-->

    <img class="pointer" src="assets/cancelImage.jpg" (click)="closeDialog()">
    <!--<video class="wish-video-class" width="100%" height="100%" controls autoplay loop>
        <source src="https://drive.google.com/file/d/1M0UrnGv_Aqu6MqI0rqWBbq18PfafakJ4/preview" type="video/mp4">
        <source src="assets/video/final_wish_video.mp4" type="video/mp4">
    </video>-->

    <iframe class="wish-video-class" 
    src="https://drive.google.com/file/d/1M0UrnGv_Aqu6MqI0rqWBbq18PfafakJ4/preview"
     width="100%" height="100%" ></iframe>



<!--</div>-->

